@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}
.card {
  max-width: 400px;
  box-shadow: 14px 14px 28px #e1e1e1;
  padding: 20px;
  border-radius: 20px;
  margin: 50px auto;
  border: 1px solid #e1e1e1;
}
